.box-layout .event-img{
    max-height: initial;
}
div.event_listings ul.event_listings.container{margin: 0 auto;border: 0px;}

div.event_listings ul.event_listings .box-layout{font-family: 'Open Sans', sans-serif !important;border: 0px; margin: 0px; padding: 15px;width: 33.3%;}
input[type="email"], input[type="text"], input[type="password"] {
    border-color:#CCCCCC !important;
}
input[type="email"]:focus, input[type="text"]:focus, input[type="password"]:focus {
    outline: -webkit-focus-ring-color auto 1px;
}
.basic-info-form .form-group .fieldlabelinfo{
    margin-bottom: 1rem;
    display: flex;
    flex-flow: column;
}
.basic-info-form .form-group span.introtext{
    font-size: 12px;
    color: #9B9B9B;
    font-weight: bold;
}
.basic-info-form.create-event-cart h3.section-title{
    width: auto;
}
.basic-info-form.create-event-cart .design-your-event{
    width: 100%;
}

.basic-info-form .form-group.fieldset-event_category{
    width: 48%;
}
.basic-info-form .form-group.fieldset-event_publish__status{
    width: 48%;
}
.basic-info-form .form-group.fieldset-event_publish__status .field label{
    display: flex;
    overflow: hidden;
    padding: 0px;
}
.design-your-event .custom-browse-file  .event-manager-uploaded-files{
    position: relative;
    z-index: 9;
}
.design-your-event .fieldset-event_banner.pullrightinner .custom-browse-file{
    width: 97%;
    float: right;
}
.basic-info-form{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.basic-info-form .form-group{
    width: 100%;
    border-bottom: 0px !important;
}
.basic-info-form .form-group.field_mideam{
    width: 33%;
    
}
.basic-info-form .form-group.field_small{
    width: 13%;    
}
.basic-info-form .form-group .input-text.hasDatepicker{

}
.basic-info-form .form-group .input-text.hasDatepicker{
    background: url(../../assets/images/calender-icn.png) center left no-repeat;
    padding-left: 45px;
    /*position: absolute;
    border-right: 1px solid #ccc;*/
    background-position: 11px 8px;
}


.basic-info-form .form-group.fieldset-event_publish__status .field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.basic-info-form .form-group.fieldset-event_publish__status .field span {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    box-shadow: 0px 2px 4px rgba(119, 93, 255, 0.2);
    border-radius: 4px;
    width: 150px;
    background: #fff;
    color: #74ACF6;
    border: 2px solid #74acf6;
    font-weight: 500;
    padding: .375rem .75rem;
    text-align: center;

    /*background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;*/
}

.basic-info-form .form-group.fieldset-event_publish__status .field span:hover {
    cursor: pointer;
}

.basic-info-form .form-group.fieldset-event_publish__status .field input:checked + span {
    background-color: #74acf6;
    box-shadow: none;
    color: #fff;
}

.ticket-fields-form .ticketinner .ticketbuttonwpr{
    display: flex;
    flex-flow: wrap;
    justify-content: center;    
}
.ticket-fields-form .ticketinner .ticketbuttonwpr .field-tickets{
    padding: 0px 10px;
}
.ticket-fields-form .ticketinner .ticketbuttonwpr .field-tickets .event_ticket_add_link{
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    box-shadow: 0px 2px 4px rgba(119, 93, 255, 0.2);
    border-radius: 4px;
    background: #fff;
    color: #74ACF6;
    border: 2px solid #74acf6;
    font-weight: 500;
    padding: 1.5rem 4.75rem;
    text-align: center;
    display: block;
}
.ticket-fields-form .ticketinner .ticketwprs > div{
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}

.basic-info-form .form-group label span.rediolabel{
    color:#4A4A4A;
}
.signin-box input[type="email"] {
    border: 1px solid #CCCCCC;
    width: 100%;
    height: 40px;
    font-family: 'Avenir Next LT Pro';
    font-size: 16px;
    border-radius: 3px;
    padding-left: 38px;
    margin-bottom: 12px;
    padding-right: 15px;
}

.woocommerce button.button.defulat-custom-btn, .defulat-custom-btn {
    background: #775DFF;
    border: 1px solid #775DFF;
    box-sizing: border-box;
    border-radius: 2px;
    width: 172px;
    height: 43.87px;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.woocommerce button.button.defulat-custom-btn, .defulat-custom-btn:hover {
    color: #fff;
}
.buttonwpr{
	margin:0 auto;
	text-align: center;
	display: flex;
    justify-content: space-evenly;
}

.has-error .help-block{
	margin-top: 0px;
	font-size: 12px;
	margin-top: -12px;
    margin-bottom: 12px;
}

.tab-content>.fade:not(.show).active{
opacity: 1;
}
.browe-event-content .browe-event-filter{position: relative;}
.buy-ticket .ticket-pass-buy .tickets-details, .buy-ticket .ticket-pass-buy .tickets-details table{
    border: 0px;
    padding: 0;
    margin-top: 0px;
}
.buy-ticket .ticket-pass-buy .section-title {
    display: none;
}
.buy-ticket .ticket-pass-buy table thead{
    display: none;
}
.buy-ticket .ticket-pass-buy table thead tr td, .buy-ticket .ticket-pass-buy table tbody tr td {
    display: none;
    padding: 0px;
    border: 0px;
}
.buy-ticket .ticket-pass-buy table tbody tr {
    display: flex;
    align-items: center;
    margin-bottom: 23px;
}
.buy-ticket .ticket-pass-buy table tbody tr td:first-child{
    display: inline-block;
    flex: 1;
    font-size: 30px;
    padding-right: 10px;
    line-height: 1;
}
.buy-ticket .ticket-pass-buy table tbody tr td:nth-child(2){
    display: inline-block;
    flex: none;
    font-size: 32px;
    font-weight: 700;
    color: #775DFF;
    line-height: 1;
    margin: 0px;
}

.buy-ticket .ticket-pass-buy table tfoot tr td:first-child{display: none}
.buy-ticket .ticket-pass-buy table tfoot tr td #order_now{
    width: 100%;
    background: #775DFF;
    border-radius: 10px;
    height: 60px;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border: none;
    box-shadow: none;
    outline: none;
    margin-top: -10px;
    letter-spacing: 0.8px;
}
.ticket-address .ticket-contact ul li.youtube a{
    background:#c4302b;
}
.morephotowpr{display: none;}
.gallery-small-photos.gallery-more-photos ul li {
    float: left;
    padding: 0 10px;
    width: calc(100% / 6);
    height: 165px;
    overflow: hidden;
    margin-bottom: 20px;
}
/*My account*/
.custom-tab-design .sidebar-tabs nav ul{
    list-style: none;
    padding: 0px;
}
.custom-tab-design .sidebar-tabs nav li {
    height: 54px;
    line-height: 54px;
    text-align: center;
}
.custom-tab-design .sidebar-tabs nav li a {
    color: #000000;
    font-size: 16px;
    font-weight: normal;
    border-radius: 0px;
    padding: 0px;
    text-decoration: none;
    display: block;
}
.custom-tab-design .sidebar-tabs nav li.is-active a{
    background: #FFD3ED;
    color: #ffffff;
    font-weight: bold;
}
.woocommerce .custom-tab-design form .form-row label{
    line-height: initial;
}
.event-dashboard-actions{list-style: none; padding: 0;}
.event-dashboard-actions li{}
.custom-tab-design .sub-tab-design ul .nav-item.active a{
    background: transparent;
    border-bottom: 4px solid #F7B0C0;
}
.custom-tab-design .sub-tab-design ul.nav-pills>li.active>a{
    background-color: transparent;
}
.report-problem .contact-filed-row span.wpcf7-form-control-wrap {
    width: 100%;
}
.report-problem .contact-submit-btn input[type="submit"] {
    background: transparent;
    border: 1px solid #775DFF !important;
    border-radius: 40px;
    font-size: 18px;
    text-align: center;
    color: #775DFF;
    border: none;
    box-shadow: none;
    padding: 8px 50px;
    outline: none;
}
.wpcf7-response-output {
    width: 100%;
    float: left;
}
@media only screen and (min-width: 1px) and (max-width: 959px) {
    div.event_listings ul.event_listings .box-layout{width: 50%;}
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
    div.event_listings ul.event_listings .box-layout{width: 100%;}
}

